@model IglesiaGPS.modelo.SolicitudDirector

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SolicitudDirector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoIngresado" class="control-label"></label>
                <input asp-for="CodigoIngresado" class="form-control" />
                <span asp-validation-for="CodigoIngresado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSolicitud" class="control-label"></label>
                <input asp-for="FechaSolicitud" class="form-control" />
                <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRespuesta" class="control-label"></label>
                <input asp-for="FechaRespuesta" class="form-control" />
                <span asp-validation-for="FechaRespuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespuestaPorUsuarioId" class="control-label"></label>
                <input asp-for="RespuestaPorUsuarioId" class="form-control" />
                <span asp-validation-for="RespuestaPorUsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
